<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link href="/cssLogin/styles.css" rel="stylesheet" />
  </head>
  <body>
    <link href="/images/mem_adult.png" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <img src="/images/mem_adult.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" action="/login">
          <!-- action은 router 로보내준다 -->
          <input
            type="text"
            id="id"
            class="fadeIn second"
            name="login"
            placeholder="login"
          />
          <input
            type="password"
            id="pw"
            class="fadeIn third"
            name="login"
            placeholder="password"
          />
          <input type="button" class="fadeIn fourth" value="Log In" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">not a member?</a>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementsByClassName("fourth")[0]
        .addEventListener("click", function () {
          let data = { id: id.value, pw: pw.value };
          fetch("/login", {
            //패치에서 보내서 app.js의 app.use의 주소로 간후에 router의 주소로 간다
            method: "post",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((res) => res.json())
            .then((res) => {
              if (res.results == true) location.href = "/home";
              else {
                alert("로그인 실패");
              }
            });
        });
    </script>
  </body>
</html>
